apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
stringData:
  MONGO_URI: mongodb+srv://shaizahlabique:Mooshy12.34@cluster0.d9fzhp3.mongodb.net/?appName=Cluster0
  JWT_SECRET: w8yNRylxWJAsK2SxIZpJ1SQKDxGFxtwhIPdmXcdLqJP

